
.top{
    display:flex;
    
    padding-left: 150px;
    align-items: center;
    position: sticky;
    top:0px;
    background-color: white;
   
    z-index: 4;

}
.search-movies{
    display:flex;
    
}

.ip{
    margin-left: 30px;
}
.search{
    cursor: pointer;
}
#log{
    margin-left: 200px;
    border: none;
}
#sign-in{
    
    cursor: pointer;
    border: none;
    padding: 5px;
    margin-left: 50px;
    
}
.free{
    
    
    background-color: blue;
    color:white;
    display: inline-block;
    
    padding: 20px;
    margin-left: 50px;
    cursor: pointer;
    
}

.fav,.profile{
    display: none;
    cursor: pointer;
    
}
.fav:hover{
    transform: scale(1.04);
    
}
  
  .dropdown {
    position: absolute;
    top: 70px;
    right: 130px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  

  .hidden {
    display: none;
  }



.seven{

    display: flex;
    justify-content:space-between;
    margin-left: 100px;
    margin-right:100px; 
    
    
}
.tonight-on-hbo{
    padding-top:50px;
    
    
}
.see-full-schedule{
    padding-top: 50px;
    color: blue;
    cursor: pointer;
}
.time{
    display:flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-around;
    
    
}

.photo{
    width: 300px;
    height: 430px;
    
}
.backpage,.loginbackpage{
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right: 0px;
    display: none;
    z-index: 5;
    height: 130%;
}
 
.page,#loginpage{
    border: 2px solid maroon;
    position: absolute;
    top:20px;;
    left:30%;
    background-color:black;
    width:30%;
    padding: 40px; 
    border-radius: 5px;
    color: white;
}

.details{
    width:100%;
    margin: 5px;
    padding:5px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.page h2,.page h6,.page p,#loginpage p{
    text-align: center;
}
#up{
    background-color: red;
    color: white;
    padding: 5px;
    margin-left: 50px;
    width:80%;
    border-radius: 50px;
}
.change-to-login,.change-to-signup{
    color:red;
    cursor: pointer;
}

.movies{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    
    
    display: flex;
    display: none;
    z-index: 4;
    color: white;
    border-radius: 15px;
    
    height: 100%;
    box-shadow:0 0 25px rgba(0, 0, 0, 0.3);
}
#luc{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://m.media-amazon.com/images/I/819xG3LWPOS._UF894,1000_QL80_.jpg") no-repeat center center/cover;
   
    
    
    
}
#school{
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url("https://w0.peakpx.com/wallpaper/121/775/HD-wallpaper-the-school-of-good-and-evil-2022-fantasy-movie-the-school-of-good-and-evil-poster-people-actress-woman.jpg") no-repeat center center/cover;
    
    
}
#encanto{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://wallpapercat.com/w/full/a/8/1/43112-3840x2160-desktop-4k-encanto-background-image.jpg") no-repeat center center/cover;
    
    
}
#nimona{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://images5.alphacoders.com/132/1321631.jpeg") no-repeat center center/cover;
   
    
}
#incredibles{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://images4.alphacoders.com/132/1329246.jpeg") no-repeat center center/cover;
   
}
#moana{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://w0.peakpx.com/wallpaper/906/454/HD-wallpaper-moana-2-movie-u-cartoons-others-beach-movie-film-animated-film-animated-movie-moana.jpg") no-repeat center center/cover;
    
    
    
    
}
#rata{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://images2.alphacoders.com/219/219840.jpg") no-repeat center center/cover;
   
    
    
}
#zoo{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://wallpapers.com/images/featured/zootopia-e8u4m9lttr2wlg4q.jpg") no-repeat center center/cover;
    
    
   
}
#insideout{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://cdn.wallpapersafari.com/59/9/zFoIdc.jpg") no-repeat center center/cover;
   
    
}
#hotel{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://a-static.besthdwallpaper.com/hotel-transylvania-2-character-wallpaper-2560x1600-11622_7.jpg") no-repeat center center/cover;
   
    
}
#tangled{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://c4.wallpaperflare.com/wallpaper/159/723/593/tangled-musical-film-wallpaper-preview.jpg") no-repeat center center/cover;
    
    
    
}
.image{
    padding:50px;
}
.img{
    width: 300px;
    height:500px;
}
.content{
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
    

}

.add-to-whist{
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    
}
.watch-now{
    color:black;
    text-decoration: none;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    border:2px solid black;
    cursor: pointer;
    font-weight: bold;
}
.refresh{
    padding:5px;

}
#boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box{
    
    width: 250px;
    height:350px;
    overflow: auto;
}
.box img{
    width: 100%;
    height: 50%;
    

}
.box:hover{
    transform: scale(1.04);
    

}
.box h3{
    margin-top:-1px;
}
.box p{
    margin-top: -12px;
}







